{% extends 'layout.html.twig' %}
{% set active = 'page_with_cache' %}

{% block content %}

    {% if app.debug %}
        <div data-alert class="alert-box error" >
                <h4>
                    Wrong front controller.
                </h4>
                Your are running the <pre>index_dev.php</pre> front
                controller, please run <pre>index.php</pre> front
                crontoller.
            <a href="#" class="close">&times;</a>
        </div>
    {% endif %}

    <p>
        This page is cached for 10 secondes<br />
        Hit @ : {{ date }}.<br />
        Try to refresh the page.<br />
    </p>

{% endblock %}
